@page "/device-types"



<div>
    <Row>
        <Button @onclick="() => { this.addDeviceTypeDialog = !this.addDeviceTypeDialog ;this.addDeviceTypeInputModel=new AddDeviceTypeInput();}">创建设备类型</Button>
    </Row>
    <Row>


        <Col Span="24">
            <Table @ref="table"
                   Loading="this.loadTableLoading"
                   TItem="DeviceTypeOutput"
                   DataSource="@data.Items"
                    Total="data.TotalCount"
                          @bind-PageIndex="deviceTypeInputCondition.PageIndex"
                          @bind-PageSize="deviceTypeInputCondition.PageSize"
                   @bind-SelectedRows="selectedRows">
                <Selection Key="@context.Id.ToString()"/>
                <Column @bind-Field="@context.DeviceTypeName"/>
                <ActionColumn Title="选项">

                    <Space>
                        <SpaceItem>
                            <Button Danger OnClick=" async ()=>await this.remoteDeviceTypeById(context.Id)">删除</Button>
                        </SpaceItem>
                    </Space>

                </ActionColumn>
            </Table>
        </Col>
    </Row>
</div>

<Modal Title="添加设备类型"
       Visible="this.addDeviceTypeDialog"
       OnOk="x => this.addDeviceTypeForm.Submit()"
       OnCancel="() => this.addDeviceTypeDialog = false">
    <Form Loading="this.addDeviceTypeLoading" Model="@this.addDeviceTypeInputModel"
          LabelColSpan="8"
          WrapperColSpan="16"
          OnFinish="async (x) => await this.submitAddDeviceTypeHandle(x)"
          OnFinishFailed="async x => await submitAddDeviceTypeFail(x)"
          @ref="@addDeviceTypeForm">
        <FormItem Label="设备名称">
            <Input @bind-Value="@context.DeviceTypeName"/>
        </FormItem>


    </Form>
</Modal>